In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv("C:\\Users\\SHAIKH\\Desktop\\analyticsmile\\Nashville Housing Data for Data Cleaning.csv")

In [3]:
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE","April 9, 2013",240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE","June 10, 2014",366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE","September 26, 2016",435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE","January 29, 2016",255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE","October 10, 2014",278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0

In [9]:
sum(df['SalePrice'])/len(df['SalePrice'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
df.dtypes

UniqueID             int64
ParcelID            object
LandUse             object
PropertyAddress     object
SaleDate            object
SalePrice           object
LegalReference      object
SoldAsVacant        object
OwnerName           object
OwnerAddress        object
Acreage            float64
TaxDistrict         object
LandValue          float64
BuildingValue      float64
TotalValue         float64
YearBuilt          float64
Bedrooms           float64
FullBath           float64
HalfBath           float64
dtype: object

In [16]:
df1= df.copy()
df1["SalePrice"]=[element.replace(",","") for element in df1['SalePrice']]
df1['SalePrice']=pd.to_numeric(df1.SalePrice, errors="coerce")

In [17]:
df1['SalePrice'].mean()

327226.27543828584

In [21]:
df1['SalePrice'].isna().sum()

7

In [23]:
df1['SalePrice'] = df1['SalePrice'].dropna()

In [25]:
np.mean(df1['SalePrice'])

327226.27543828584

In [35]:
v = [33,44,5,6,6]
wt = [3,3,4,5,6]
np.average(v,weights=wt)

15.095238095238095

In [41]:
import statistics
statistics.mean(v)

18.8

In [40]:
''' This makes it particularly useful when dealing with 
 quantities that involve rates or ratios, 
 such as speed, time, resistance, or other 
 reciprocal relationships.'''

from scipy.stats import hmean

values = [60, 75, 90,22,24,67,7,3]

harmonic_mean_value = hmean(values)
print("Harmonic Mean:", harmonic_mean_value)

Harmonic Mean: 12.916805691005882

In [43]:
stats.hmean(values)

12.916805691005882

In [44]:
statistics.(values)

AttributeError: module 'statistics' has no attribute 'h_mean'

In [46]:
def harmonic_mean(values):
    total_recip = sum(1 / x for x in values)
    harmonic_mean_val = len(values) / total_recip
    return harmonic_mean_val


values = [60, 75, 90]


harmonic_mean_value = harmonic_mean(values)

# Printing the result
print("Harmonic Mean:", harmonic_mean_value)

Harmonic Mean: 72.97297297297297

In [55]:
values = [60, 75, 90]

len(values) / sum(1/x for x in values)

72.97297297297297

In [16]:
values = [5, 10, 15, 10, 20, 15, 10, 25, 10]

total_reciprocals = sum(1 / x for x in values)
harmonic_mean_value = len(values) / total_reciprocals

print("Harmonic Mean:", harmonic_mean_value)

Harmonic Mean: 10.931174089068826

In [17]:
product=1
for x in values:
    product *= x
geometric_mean_value = product ** (1 / len(values))
geometric_mean_value

12.115656377008825

In [15]:
statistics.geometric_mean(values)

NameError: name 'statistics' is not defined

In [13]:
d = {}
for i in values:
    if i in d:
        d[i] +=1
    else:
        d[i] =1
print(d)

max(d,key=d.get)

{5: 1, 10: 4, 15: 2, 20: 1, 25: 1}

10

In [19]:
import statistics

In [21]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
y = [1, 2, 3, 1, 2, 3, 1, 2, 3]
statistics.covariance(x,y)

0.75

In [ ]:
# skeweness = 3*mean-median/standard_deviation