In [1]:
start = int(input('take no.to look for table'))
last = int(input('take no.upto where you want to look for table'))

for i in range(start,last):
    for j in range(1,11):
        res = i*j
        print(f"{i}*{j} = {res}")
        print("")

2*1 = 2

2*2 = 4

2*3 = 6

2*4 = 8

2*5 = 10

2*6 = 12

2*7 = 14

2*8 = 16

2*9 = 18

2*10 = 20

### Enumerator( iterator, start = any number)

In [1]:
name = ["Akhi","mano","ismail","sumi"]

In [2]:

for sn,n in enumerate(name,start = 1):
    print(f"S.no. {sn}: {n}")

S.no. 1: Akhi
S.no. 2: mano
S.no. 3: ismail
S.no. 4: sumi

In [4]:
d = {0:'a',1:'b',2:'c'}
for i in d:
    print(i)

0
1
2

In [45]:
num = int(input("enter number: "))
for i in range(num):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [44]:
n = int(input("Enter pattern size: "))

k = n - 1

for i in range(0, n): # rows

    # space
    for j in range(0, k):
        print(end=" ")


    k = k - 1


    # printing *
    for j in range(0, i+1):
        print("*", end=" ")


    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [46]:
num = int(input("enter number: "))
for i in range(num,num-(num)-1,-1):
    for j in range(i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [54]:
n = int(input("Enter pattern size: "))

k = 2 * n - 2

for i in range(n,-1,-1): # rows

    # space
    for j in range(k,0,-1):
        print(end=" ")

    k = k + 1

    # printing *
    for j in range(0, i+1):
        print("*", end=" ")


    print()

        * * * * *
         * * * * *
          * * * * *
           * * * * *

In [48]:
n=5
k=n-1

for i in range(0,n):
    for j in range(k):
        print(end=" ")
    
    k = k-1
    
    for j in range(0,i+1):
        print("*",end=" ")
        
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [56]:
n = 5
for i in range(1,n+1):
    print(" "* (n-i), end ="")
    print("* "*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [57]:
for i in range(n):
    
    for j in range(n-i-1):
        print("+", end="")
        
    for j in range(2*i+1):
        print("*",end="")
        
    print()

    *
   ***
  *****
 *******
*********

In [62]:
# n = int(input("Enter pattern size: "))



def pyramid(n):
    k = n - 1

    for i in range(0, n): # rows

        # space
        for j in range(0, k):
            print(end=" ")


        k = k - 1


        # printing *
        for j in range(0, i+1):
            print("*", end=" ")


        print()
print(pyramid(5))

    *
   * *
  * * *
 * * * *
* * * * *
None

In [66]:
is_even_list = [lambda arg=x: arg * 10 for x in range(1, 5)]

# iterate on each lambda function
# and invoke the function to get the calculated value
for item in is_even_list:
    print(item())

10
20
30
40

In [75]:
a = lambda a,b : a+b

a(10,20)

30

In [74]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [77]:
name = "ismail"
def greet():
    name = 'Isu'
    print(name)
    
greet()

Isu

In [78]:
name

'ismail'

### Task [18-07-2023]

- Calculate factorial
- create recursive function
- printing patterns multi pattern
(diamond, circle, hexagon, etc)

In [80]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Test the function
n = int(input("Enter a number: "))
res = factorial(n)
print("The factorial of", n, "is", res)

The factorial of 5 is 120

In [81]:
import math

def print_circle(radius):

    for y in range(-radius, radius + 1):

        for x in range(-radius, radius + 1):

            distance = math.sqrt(x**2 + y**2)

            if distance <= radius:
                print("*", end="")

            else:
                print(" ", end="")

        print()  # Move to the next line after printing each row

# Test the function
circle_radius = int(input("Enter the radius of the circle: "))
print_circle(circle_radius)

          *
      *********
    *************
   ***************
  *****************
  *****************
 *******************
 *******************
 *******************
 *******************
*********************
 *******************
 *******************
 *******************
 *******************
  *****************
  *****************
   ***************
    *************
      *********
          *

In [2]:
# Factorial
i = 5

fac = 1

while(i>0):
    fac = fac*i
    i=i-1
print(fac)

120