###  Task : List
1. Create List with  **[ ]**  and **list** constructor

2. display following methods
   - **Length**
   - **insert**
   - **remove**
   - **pop**
   - **pop(value)**
   - **del value**
   - **del list**
   - **clear**
   - **extend**
   - **reverse**
   - **count**

**------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

In [1]:
# List 

l = [1,2,3,"Abc","def","ismail",True,False]

In [2]:
l

[1, 2, 3, 'Abc', 'def', 'ismail', True, False]

In [3]:
print(type(l))

<class 'list'>

In [4]:
# Length

len(l)

8

**------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

In [5]:
l1 = [1,2,3,423,33,22,90]

In [6]:

len(l)

8

In [7]:
min(l1)

1

In [8]:
max(l1)

423

In [9]:
sum(l1)

574

In [10]:
sorted(l1)

[1, 2, 3, 22, 33, 90, 423]

In [11]:
# insert

l1.insert(1,24)
l1

[1, 24, 2, 3, 423, 33, 22, 90]

In [12]:
l1.append(2)
l1

[1, 24, 2, 3, 423, 33, 22, 90, 2]

In [13]:
# remove

l1.remove(33)
l1

[1, 24, 2, 3, 423, 22, 90, 2]

In [14]:
# pop

l1.pop()

2

In [15]:
# pop(value)

l1.pop(-1)

90

In [16]:
# del value
del l1[3]
l1

[1, 24, 2, 423, 22]

In [17]:
l2 = l1.copy()
l2

[1, 24, 2, 423, 22]

In [18]:
del l2
l2

NameError: name 'l2' is not defined

In [19]:
l2 = l1.copy()
l2

[1, 24, 2, 423, 22]

In [20]:
# clear
l2.clear()
l2

[]

In [21]:
l2 = l1.copy()
l2

[1, 24, 2, 423, 22]

In [22]:
# extend
l1.extend(l2)
l1

[1, 24, 2, 423, 22, 1, 24, 2, 423, 22]

In [23]:
l1.reverse()
l1

[22, 423, 2, 24, 1, 22, 423, 2, 24, 1]

In [24]:
l1.sort()
l1

[1, 1, 2, 2, 22, 22, 24, 24, 423, 423]

In [25]:
l1.reverse()
l1

[423, 423, 24, 24, 22, 22, 2, 2, 1, 1]

In [26]:
# Count

l1.count(33)

0

**------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

In [27]:
list("Ismail")

['I', 's', 'm', 'a', 'i', 'l']

In [28]:
list("ismail","shaikh")

# TypeError: list expected at most 1 argument, got 2

TypeError: list expected at most 1 argument, got 2

In [ ]:
list(("ismail","Shaikh"))

**------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

#### String Formatting

In [32]:
name = "ismail Shaikh"

print(f"my name is {name}")

my name is ismail Shaikh

In [33]:
"my name is {}".format("ismail")

'my name is ismail'

In [34]:
"my name is %s"%("ismail")

'my name is ismail'

**------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

### Task : Tuple
- creating tuple
- types
- len
- max
- min
- sum
- mean
- sorted
- count
- index
- del

In [35]:
# creating tuple



t = (1,2,3,4,5,"Ismail")

t1 = (1,22,33,43,56,77,90)

print(t)

print(t1)

(1, 2, 3, 4, 5, 'Ismail')
(1, 22, 33, 43, 56, 77, 90)

In [ ]:
# types

type(t)

In [ ]:
# Len

len(t)

In [36]:
# max

max(t1)

90

In [ ]:
# min

min(t1)

In [ ]:
# sum

sum(t1)

In [ ]:
# mean

sum(t1)/len(t1)

# Mean
import statistics as s

print(s.mean(t1))

In [ ]:
# sorted

sorted(t1)
[1, 22, 33, 43, 56, 77, 90]

In [ ]:
# count

t1.count(22)

In [ ]:
# index

print(t[-1][0])


print(t1[-1])

In [ ]:
# del
del t