In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
dim_date = pd.read_csv("C:\\Users\\SHAIKH\\Desktop\\analyticsmile\\codebasicsDA\\Project\\ATLIQ_GRAND_CB_PR\\Data_Atliq\\dim_date.csv") 
dim_hotels = pd.read_csv("C:\\Users\\SHAIKH\\Desktop\\analyticsmile\\codebasicsDA\\Project\\ATLIQ_GRAND_CB_PR\\Data_Atliq\\dim_hotels.csv") 
dim_rooms = pd.read_csv("C:\\Users\\SHAIKH\\Desktop\\analyticsmile\\codebasicsDA\\Project\\ATLIQ_GRAND_CB_PR\\Data_Atliq\\dim_rooms.csv") 
fact_bookings = pd.read_csv("C:\\Users\\SHAIKH\\Desktop\\analyticsmile\\codebasicsDA\\Project\\ATLIQ_GRAND_CB_PR\\Data_Atliq\\fact_bookings.csv") 
fact_aggregated_bookings = pd.read_csv("C:\\Users\\SHAIKH\\Desktop\\analyticsmile\\codebasicsDA\\Project\\ATLIQ_GRAND_CB_PR\\Data_Atliq\\fact_aggregated_bookings.csv")

In [7]:
dim_date.head()
fact_bookings.head()

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
3,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
4,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920

In [6]:
fact_aggregated_bookings.head()

   property_id check_in_date room_category  successful_bookings  capacity
0        16559     01-May-22           RT1                   25        30
1        19562     01-May-22           RT1                   28        30
2        19563     01-May-22           RT1                   23        30
3        17558     01-May-22           RT1                   13        19
4        16558     01-May-22           RT1                   18        19

In [20]:
total_revenue = sum(fact_bookings["revenue_realized"])
total_revenue

1708771229

1708771229

In [16]:
def count_func(l):
    c = 0
    for i in l:
        c+=1
    return c

In [27]:
fact_bookings["booking_id"].count()

134590

In [19]:
total_Bookings = count_func(fact_bookings["booking_id"])
total_Bookings

134590

In [21]:
total_capacity = sum(fact_aggregated_bookings["capacity"])
total_capacity

232576

In [22]:
total_successful_bookings = sum(fact_aggregated_bookings["successful_bookings"])
total_successful_bookings

134590

In [24]:
occupancy_percentage = total_successful_bookings/total_capacity
occupancy_percentage

0.5786925564116676

In [26]:
fact_bookings["booking_status"].value_counts()

Checked Out    94411
Cancelled      33420
No Show         6759
Name: booking_status, dtype: int64

In [30]:
average_rating = fact_bookings["ratings_given"].mean()
average_rating

3.619003934160154

In [31]:
min(dim_date["date"])

'01-Jul-22'

In [42]:
max(dim_date["date"])

'31-May-22'

In [33]:
min(dim_date["date"])-max(dim_date["date"])

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [35]:

class Date:
    def __init__(self, d, m, y):
        self.d = d
        self.m = m
        self.y = y
 
 
# To store number of days in all months from
# January to Dec.
monthDays = [31, 28, 31, 30, 31, 30,
             31, 31, 30, 31, 30, 31]
 
# This function counts number of leap years
# before the given date
 
 
def countLeapYears(d):
 
    years = d.y
 
    # Check if the current year needs to be considered
    # for the count of leap years or not
    if (d.m <= 2):
        years -= 1
 
    # An year is a leap year if it is a multiple of 4,
    # multiple of 400 and not a multiple of 100.
    return int(years / 4) - int(years / 100) + int(years / 400)
 
 
# This function returns number of days between two
# given dates
def getDifference(dt1, dt2):
 
    # COUNT TOTAL NUMBER OF DAYS BEFORE FIRST DATE 'dt1'
 
    # initialize count using years and day
    n1 = dt1.y * 365 + dt1.d
 
    # Add days for months in given date
    for i in range(0, dt1.m - 1):
        n1 += monthDays[i]
 
    # Since every leap year is of 366 days,
    # Add a day for every leap year
    n1 += countLeapYears(dt1)
 
    # SIMILARLY, COUNT TOTAL NUMBER OF DAYS BEFORE 'dt2'
 
    n2 = dt2.y * 365 + dt2.d
    for i in range(0, dt2.m - 1):
        n2 += monthDays[i]
    n2 += countLeapYears(dt2)
 
    # return difference between two counts
    return (n2 - n1)
 
 
# Driver program
dt1 = Date(13, 12, 2018)
dt2 = Date(25, 2, 2019)
 
print(getDifference(dt1, dt2), "days")
# Output
# 74 days
# Time Complexity: O(1)
# Auxiliary Space: O(1)

# Using Python datetime module:

# Python comes with an inbuilt datetime module that helps us to solve various datetime related problems. In order to find the difference between two dates we simply input the two dates with date type and subtract them, which in turn provides us the number of days between the two dates.

74 days

In [38]:
# Python3 program to find number of days
# between two given dates
from datetime import date
 
 
def numOfDays(date1, date2):
  #check which date is greater to avoid days output in -ve number
    if date2 > date1:  
        return (date2-date1).days
    else:
        return (date1-date2).days
 
 
# Driver program
date1 = date(max(dim_date["date"]))
date2 = date(min(dim_date["date"]))
print(numOfDays(date1, date2), "days")

TypeError: 'str' object cannot be interpreted as an integer

In [39]:
dim_date.head()

        date  mmm yy week no  day_type
0  01-May-22  May 22    W 19   weekend
1  02-May-22  May 22    W 19  weekeday
2  03-May-22  May 22    W 19  weekeday
3  04-May-22  May 22    W 19  weekeday
4  05-May-22  May 22    W 19  weekeday

In [40]:
import datetime

In [41]:
datetime.timedelta(max(dim_date["date"]),min(dim_date["date"]))

TypeError: unsupported type for timedelta seconds component: str