## Create a Set with {} and set function

- perform following operations
    1. type
    2. length
    3. Remove
    4. add
    5. update
    6. clear
    7. loop
    8. union
    9. Intersection
    10. Difference

In [8]:
s = {"apple", "banana", "cherry"}
type(s)

# 1. type

set

In [9]:
    # 2. length
len(s)

3

In [10]:
    # 3.Add
s.add("Mango")

In [12]:
s.add("CHerry")
s

{'CHerry', 'Mango', 'apple', 'banana', 'cherry'}

In [3]:
    # 4. Remove
s.remove("banana")
s.pop("CHerry")
s.clear()

In [14]:
    # 5. update
t2 = {"pineapple", "mango", "papaya"}
s.update(t2)

In [15]:
s

{'CHerry',
 'Mango',
 'apple',
 'banana',
 'cherry',
 'mango',
 'papaya',
 'pineapple'}

In [21]:
    # 7. loop
    


for x in s:
  print(x)

cherry
mango
CHerry
apple
papaya
banana
Mango
pineapple

In [22]:
    # 8. union
    
s.union(t2)

{'CHerry',
 'Mango',
 'apple',
 'banana',
 'cherry',
 'mango',
 'papaya',
 'pineapple'}

In [23]:
    # 9. Intersection
s.intersection(t2)

{'mango', 'papaya', 'pineapple'}

In [24]:

    # 10. Difference
    
    s.difference(t2)

{'CHerry', 'Mango', 'apple', 'banana', 'cherry'}

-------------------------------------------------------------------

- Frozen Set
- Type Castinh  ( Implisit, Explicit)

In [1]:
fs = frozenset([1,2,3,4,5])

In [2]:
fs

frozenset({1, 2, 3, 4, 5})

### Task
- Int - Float vice versa
- str - int 
- complex - int
- complex - str
- str - Bool

In [43]:
# Int - Float 
# Float - int

i = 12
print(i)
print(type(i))

f = float(i)
print(f)
print(type(f))

# float - int
print(type(int(f)))

12
<class 'int'>
12.0
<class 'float'>
<class 'int'>

In [44]:
print(type(i+f))

<class 'float'>

In [45]:
# str - int 

s = "18"
print(type(s))
print(s)

print("After conversion")

print(type(int(s)))

<class 'str'>
18
After conversion
<class 'int'>

In [46]:
# - complex - int
c = 3+5j
print(type(c))
print(c)

print(int(c.real))
c.imag

a = int(c.imag)
print(a)
print(type(a))

a = complex(a)
print(a)
print(type(a))

<class 'complex'>
(3+5j)
3
5
<class 'int'>
(5+0j)
<class 'complex'>

In [47]:
# - complex - str

print(a) 
print(type(a))

a= str(a)
print(type(a))
print(a)

(5+0j)
<class 'complex'>
<class 'str'>
(5+0j)

In [48]:
# - str - Bool

print(type(a))
print(a)

a = bool(a)

print(type(a))
print(a)

<class 'str'>
(5+0j)
<class 'bool'>
True

In [59]:
l1 = [1,2,3]
l2 = ['ismail',"Akhi","sumit"]

In [63]:
def dictconvert(ls):
    keys = ls[::2] 
    values = ls[1::2]
    res = {keys[i] : values[i] for i in range(len(keys))}
    return res

l3 = [1,"ismail",2,"ravi",3,"akhi"]
print(dictconvert(l3))

{1: 'ismail', 2: 'ravi', 3: 'akhi'}

In [64]:
def dictconv2(l1,l2):
    keys = l1
    val = l2
    res = {keys[i] : val[i] for i in range(len(keys))}
    return res

print(dictconv2(l1,l2))

{1: 'ismail', 2: 'Akhi', 3: 'sumit'}

In [70]:
for i in range(len(l1)):
    print(l1[i] ,":", l2[i],end=", " )

1 : ismail, 2 : Akhi, 3 : sumit,