### Task
- creating tuple
- types
- len
- max
- min
- sum
- mean
- sorted
- count
- index
- del

In [2]:
# creating tuple

t = (1,2,3,4,5,"Ismail")
t1 = (1,22,33,43,56,77,90)

print(t)
print(t1)

(1, 2, 3, 4, 5, 'Ismail')
(1, 22, 33, 43, 56, 77, 90)

In [3]:
# types
type(t)

tuple

In [4]:
len(t)

6

In [8]:
# max
max(t1)

90

In [9]:
# min
min(t1)

1

In [10]:
# sum
sum(t1)

322

In [20]:
# mean
import statistics as s
s.mean(t1)

46

In [35]:
# Mean
sum(t1)/len(t1)

46.0

In [21]:
# sorted
sorted(t1)

[1, 22, 33, 43, 56, 77, 90]

In [22]:
# count
t1.count(22)

1

In [25]:
# index
t[-1][0]

'I'

In [39]:
t1[-1]

90

In [26]:
# del

In [40]:
del t